# Fallback + DevOps
* @pallax03

/.github/ @pallax03
/compose.yml @pallax03
/.releaserc.json @pallax03
/package.json @pallax03
/package-lock.json @pallax03
/.env* @pallax03

# Project Owners
/wizardEngine/ @pallax03
/application/ @NicolaGraziotin