PROJECT_NAME=WizardCardGame
APP_ENV=development
HTTP_PORT=5001
WS_PORT=5002
APPLICATION_PORT=3000
REDIS_PORT=6379
PROMETHEUS_PORT=9090
GRAFANA_PORT=3001
GF_SECURITY_ADMIN_USER="YOUR_USERNAME"
GF_SECURITY_ADMIN_PASSWORD="YOUR_PASSWORD"