<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%X{lobbyId:-system}] [%X{playerId:-system}] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.netty" level="WARN" />

    <logger name="io.vertx.ext.web.handler.LoggerHandler" level="INFO" />

    <logger name="io.github.pallax03.wizard" level="DEBUG" />
    <logger name="WizardApp" level="DEBUG" />

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>